<!DOCTYPE html>
<html lang="en">
  <head>
    <title>test</title>
    <script type="module" src="./index.js"></script>
    <script type="module" src="./test.js"></script>
    <link rel="stylesheet" href="./components/Background/index.css">
    <link rel="stylesheet" href="./components/Button/index.css">
    <link rel="stylesheet" href="./components/Checkbox/index.css">
    <link rel="stylesheet" href="./components/Header/index.css">
    <link rel="stylesheet" href="./components/HideButton/index.css">
    <link rel="stylesheet" href="./components/Input/index.css">
    <link rel="stylesheet" href="./components/Label/index.css">
    <link rel="stylesheet" href="./components/LoadingForm/index.css">
    <link rel="stylesheet" href="./components/LoginForm/index.css">
    <link rel="stylesheet" href="./components/NewPasswordForm/index.css">
    <link rel="stylesheet" href="./components/PasswordChangedForm/index.css">
    <link rel="stylesheet" href="./components/RecoverPasswordForm/index.css">
    <link rel="stylesheet" href="./components/RecoveryCodeForm/index.css">
    <link rel="stylesheet" href="./components/RegisterForm/index.css">
    <link rel="stylesheet" href="./components/Slider/index.css">
    <link rel="stylesheet" href="./components/SplashScreen/index.css">
    <link rel="stylesheet" href="./components/Timer/index.css">
    <link rel="stylesheet" href="./components/TimerIcon/index.css">
    <link rel="stylesheet" href="./components/Tip/index.css">
    <link rel="stylesheet" href="../../../components/common/ShowHide/index.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
