.register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transform: translate(-50%, -50%);
}

.header {
  width: 100%;
  margin: auto;
  text-align: center;
  cursor: default;
}

.pages-input-wrapper {
  width: 23rem;
}

.pages-label {
  cursor: default;
}

.register-form-name,
.register-form-email,
.register-form-password,
.register-form-rep-password,
.register-form-news-check,
.register-form-agreement-check,
.register-form-login {
  display: flex;
  flex-direction: row;
}

.register-form-news-check,
.register-form-agreement-check,
.register-form-login {
  gap: 0.5rem;
  align-items: center;
  margin-left: 0.3rem;
}

.register-form-agreement-link {
  display: flex;
  flex-direction: row;
}

.register-form-agreement-link .clickable .pages-label {
  text-decoration: underline;
  cursor: pointer;
}

.register-form-news-check .checkbox,
.register-form-agreement-check .checkbox {
  width: 1.3rem;
  height: 1.3rem;
}

.register-form-news-check .checkbox:checked::after,
.register-form-agreement-check .checkbox:checked::after {
  width: 1rem;
  height: 1rem;
}

.register-form-login .clickable .pages-label {
  color: darkorange;
  cursor: pointer;
}

.register-form .clickable,
.register-form-login {
  align-self: center;
  margin: 0;
}

.register-form-name .pages-label:not(.pages-tip-text-wrapper .pages-label),
.register-form-email .pages-label:not(.pages-tip-text-wrapper .pages-label),
.register-form-password .pages-label:not(.pages-tip-text-wrapper .pages-label),
.register-form-rep-password .pages-label:not(.pages-tip-text-wrapper .pages-label) {
  margin: 0;
  font-size: 1.5rem;
}

.pages-input-right-decorator-wrapper {
  display: flex;
  flex-direction: row;
}

.error-label {
  align-self: center;
  width: 23rem;
  height: 1rem;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #ff4b4b;
  text-align: center;
}
