<!DOCTYPE html>
<html lang="en">
  <head>
    <title>test</title>
    <script type="module" src="./index.js"></script>
    <script type="module" src="./test.js"></script>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../Background/index.css">
    <link rel="stylesheet" href="../Button/index.css">
    <link rel="stylesheet" href="../Header/index.css">
    <link rel="stylesheet" href="../Checkbox/index.css">
    <link rel="stylesheet" href="../Input/index.css">
    <link rel="stylesheet" href="../Label/index.css">
    <link rel="stylesheet" href="../HideButton/index.css">
    <link rel="stylesheet" href="../Tip/index.css">
    <link rel="stylesheet" href="../../../../../components/common/ShowHide/index.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
