.atoms-button-default {
    width: 18.7rem;
    height: 3.6rem;
    padding-bottom: 0.4rem;
    font-family: Orbitron, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-shadow: 0.1rem 0.2rem 0.3rem rgb(0 0 0 / 90%);
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: contain;
    border: none;
}

.atoms-button-red {
    background-image: url("./media/button_red.png");
}

.atoms-button-green {
    background-image: url("./media/button_green.png");
}