<!DOCTYPE html>
<html lang="en">
  <head>
    <title>test</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../Background/index.css">
    <link rel="stylesheet" href="../Button/index.css">
    <link rel="stylesheet" href="../Input/index.css">
    <link rel="stylesheet" href="../Label/index.css">
    <link rel="stylesheet" href="../Header/index.css">
    <link rel="stylesheet" href="../Header/index.css">
    <link rel="stylesheet" href="../Timer/index.css">
    <link rel="stylesheet" href="../TimerIcon/index.css">
    <script type="module" src="./index.js"></script>
    <script type="module" src="./test.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
