<!DOCTYPE html>
<html lang="en">
  <head>
    <title>test</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../Label/index.css">
    <link rel="stylesheet" href="../HideButton/index.css">
    <link rel="stylesheet" href="../TimerIcon/index.css">
    <link rel="stylesheet" href="../Timer/index.css">
    <link rel="stylesheet" href="../Tip/index.css">
    <script type="module" src="./index.js"></script>
    <script type="module" src="./test.js"></script>
  </head>
  <body>
    <div id="root" style="height: 500px; width: 50vw; background-color: #999;"></div>
  </body>
</html>
