<!DOCTYPE html>
<html lang="en">
  <head>
    <title>test</title>
    <script type="module" src="../SplashScreen/index.js"></script>
    <script type="module" src="./index.js"></script>
    <script type="module" src="./test.js"></script>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../Background/index.css">
    <link rel="stylesheet" href="../Slider/index.css">
    <link rel="stylesheet" href="../SplashScreen/index.css">
    <link rel="stylesheet" href="../Label/index.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
