.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transform: translate(-50%, -50%);
}

.header {
  width: 100%;
  margin: auto;
  text-align: center;
  cursor: default;
}

.pages-input-wrapper {
  width: 23rem;
}

.login-form-pass-opt {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: -1.5rem;
}

.login-form-pass-opt .pages-label {
  cursor: default;
}

.login-form-pass-opt .clickable .pages-label {
  width: 6rem;
  margin-right: 0.5rem;
  color: darkorange;
  text-align: right;
  cursor: pointer;
}

.login-form .clickable {
  align-self: center;
}
