.pages-timer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0 8px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  vertical-align: middle;
  color: #00000080;
}
